.text-color-white {
  color: white;
}
.inner-container {
  padding: 50px;
  opacity: 0.8;
}

.image-box {
  position: relative;
  text-align: center;
  color: white;
  opacity: 1;
}

.image-box:hover {
  display: block;
  transform: scale(1.2);
  transition: 0.3s;
  z-index: 99999;
}
