.navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4%;
  background: #0c111b;
  z-index: 9;
  display: flex;
  align-items: center;
  text-align: center;
}
/* .outerbox > a {
  text-decoration: none;
  color: white;
} */
a {
  text-decoration: none;
  color: white;
}
/* .outerbox > a:hover {
  color: rgb(255, 255, 255);
} */
a:hover {
  color: rgb(255, 255, 255);
}

.searchImages {
  width: 60px;
}
.outerbox {
  /* padding-top: 2px; */
  padding: 5px;
  background-color: #0c111b;
  width: 420px;
  text-decoration: none;
}
.search-dropdown-menu:hover {
  box-shadow: 5px 5px 5px rgb(32, 35, 51);
}
.search-dropdown-menu {
  border-radius: 10px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  background-color: #18172c;
  box-shadow: 1px;
  /* align-items: center; */
}
.search-dropdown-image > .searchImages {
  height: 10px;
  width: 10px;
  position: center center;
}

.search-dropdown-title > h6 {
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
}
.menu-icon-inner {
  color: rgb(170, 161, 161);
  padding: 10px;
  /* background-color: white; */
}

li {
  font-size: 12px;
}
.dropdown-button {
  margin: 0;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-box {
  padding: 10px;
}
.menu-list:hover {
  background-color: black;
}
.menu-list:hover .menu-icon-inner {
  color: rgb(255, 255, 255);
}

.dropdown-box:hover .dropdown-button {
  background-color: transparent;
}
.dropdown-box:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
}

li > .dropdown-menu {
  padding: 10px;
  /* margin: 10px; */
  line-height: 40px;
}
.dropdown-menu {
  margin-top: 0px;
  /* background-color: rgba(23, 23, 50, 1); */
  background-color: #192133;
  color: white;
}
.brand-logo {
  height: 35px;
}
.logo {
  cursor: pointer;
}

.nav-links {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.9;
}

.right-container {
  display: block inline;
  margin-left: auto;
}

.nav-items a:hover {
  color: lightgray;
}

.search-field {
  display: inline;
  border-bottom: 1px solid #aaa;
  padding: 10px;
}
.search-box {
  border: none;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  width: 250px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.search-icon,
.menu-icon {
  color: rgb(201, 197, 197);
}
.menu-icon {
  padding: 20px;
}
.search-box:focus {
  width: 400px;
  border-color: #1f80e0;
}

.sub-btn {
  background: #1f80e0;
  height: 22px;
  width: 90;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px;
}

.login-link {
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.hidden {
  display: none !important;
}
.search-results {
  margin-top: -17px;
  color: white;
  text-align: center;
  width: 91%;
  display: grid;
  justify-items: end;
}

@media only screen and (max-width: 980px) {
  .nav-responsive {
    display: none;
  }
  .right-container {
    display: none;
  }
}